@model IEnumerable<ComissionTB.ViewModels.AppUserView>
@{
    ViewBag.Title = "Список пользователей";
}
<h1>Список пользователей</h1>
<a asp-action="Create" class="btn btn-success btn-sm">Создать</a>

<table class="table mt-3 table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th>Email</th>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Подразделение</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.user.Email</td>
            <td>@(item.user.userFio + " " + item.user.userFirstName.Substring(0,1) + ". " + item.user.userSecName.Substring(0,1)+"." )</td>
            <td>@item.user.dolgn.dlName.ToString()</td>
            <td>@item.cexName</td>

            <td>
                <form asp-action="Delete" asp-route-id="@item.user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Edit" asp-route-email="@item.user.Email">Роли</a>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-Id="@item.user.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>